[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
django-rest-framework-serialization-spec = "*"

[requires]
python_version = "3.9"
